Flask
numpy
opencv-python
opt-einsum==3.3.0
packaging==23.2
pip==23.3.1
requests==2.31.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.12.0
setuptools==68.2.2
six==1.16.0
tensorflow
urllib3==2.1.0
Werkzeug==2.3.8
wheel==0.41.2
wrapt==1.14.1
yarl==1.9.3
